{% extends "base.html" %}
{% load static %}
{% block content %}
    <form method="POST" enctype="multipart/form-data" class="mb-5">
        {% csrf_token %} 
        <div class="container d-flax flex-column">
            {{article}}
            {{images}}
            <div>
                <button class="btn btn-add btn-light px-5 py-2 my-3 fw-bold" onclick="document.getElementById('id_images').click()">SELECTIONNEZ UNE/DES PHOTO</button>
            </div>
            <div class="text-muted">Vous pouvez importer une ou plusieur images</div>
        </div>
        <div class="container col-10 mt-5 text-end">
            <button type="reset" class="btn btn-cancel btn-secondary px-5 py-2">ANULER</button>
            <button type="submit" class="btn btn-add btn-light px-5 py-2">VALIDER</button>
        </div> 
        
    </form>


    {% if form.errors %}
    {% for field in form %}
    {{ field.label }}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}